{% macro clickable_table(headers, rows, url_key, mask=None) %}
<div class="table-component">
  <!-- Filter Input -->
  <input 
    type="text" 
    id="tableFilter"
    class="input is-small" 
    placeholder="Filter..." 
    oninput="filterTable(event, 'clickableTable')" 
    style="margin-bottom: 1rem;"
  />

  <div class="table-container">
    <table class="table is-bordered is-stripped is-hoverable is-fullwidth">
      <thead>
        <tr>
          {% for header in headers %}
          <th onclick="sortTable(event, 'clickableTable', {{ loop.index0 }})" style="cursor: pointer;">
            {{ header }} 
            
            <span class="icon">
              <i class="fa-solid fa-sort"></i>
            </span>
          </th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for row in rows %}
        <tr onclick="accessTableItem(event, '{{ row[url_key] }}')" class="has-text-link" style="cursor: pointer;">
          {% for key, value in row.items() %}
            {% if key != url_key %}
            <td 
              {% if mask and key in mask %}
                data-mask="{{ mask[key] }}" 
                data-value="{{ value }}"
              {% endif %}
            >{{ value }}</td>
            {% endif %}
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endmacro %}
