{% from "components/macros/button.jinja" import button %}

{% macro clickable_table(headers, rows, name=None, url_key=None, mask=None, create_button=None) %}
<div class="table-component">
  <div class="level">
    {% if name %}
    <div class="level-left">
        <div class="level-item">
          <p class="title is-3">{{ name }}</p>
        </div>
    </div>
    {% endif %}

    <div class="level-right">
      <div class="level-item">
        <input type="text" class="input" placeholder="Filter..."/>
      </div>

      {% if create_button %}  
      <div class="level-item">
        {{ button(**create_button) }}
      </div>
      {% endif %}
    </div>
  </div>

  <div class="table-container">
    <table id="table"class="table is-bordered is-stripped is-hoverable is-fullwidth">
      <thead>
        <tr>
          {% for header in headers %}
          <th data-column-index="{{ loop.index0 }}" style="cursor: pointer;">
            {{ header }}
            
            <span class="icon">
              <i class="fa-solid fa-sort"></i>
            </span>
          </th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for row in rows %}
        <tr 
          {% if url_key %}          
          onclick="accessTableItem(event, '{{ row[url_key] }}')" 
          {% endif %}
          class="has-text-link" style="cursor: pointer;">
          {% for key, value in row.items() %}
            {% if key != url_key %}
            <td 
              {% if mask and key in mask %}
                data-mask="{{ mask[key] }}" 
              {% endif %}
            >{{ value }}</td>
            {% endif %}
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endmacro %}
