{% from "components/macros/button.jinja" import button %}

{% set button_color = "primary"%}

{% block header %}
<header class="navbar is-primary" role="navigation", aria-label="navegation">
    <nav class="navbar-menu">
        <div class="navbar-start">
            <div class="buttons">
                <a class="navbar-item" href="{{ URL['ROOT'] }}">Home</a>
                <a class="navbar-item" href="{{ URL['CLIENTS']['LIST'] }}">Clients</a>
                <a class="navbar-item" href="{{ URL['BANK_ACCOUNTS']['LIST'] }}">Bank Accounts</a>
            </div>
        </div>
    </nav>
</header>
{% endblock header %}