{# client.jinja #}
{% extends "components/html.jinja" %}
{% from "components/macros/table.jinja" import clickable_table%}


{% block content %}
<main class="container">
    {{ clickable_table(**clients_table) }}
</main>
{% endblock content %}